<section class="footer">
    <div class="pl-5 pt-2">
    <footer class="pt-4 md-5  border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h3 class="pb-2">Company</h3>
          <ul class="list-unstyled text-small text-light">
            <li><a class="text-muted" href="#">About US</a></li>
            <li><a class="text-muted" href="#">Terms and conditions</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Privacy policy</a></li>

          </ul>
        </div>
        <div class="col-6 col-md">
          <h3 class="pb-2">Contact</h3>
          <ul class="list-unstyled text-small text-light">
            <li><a class="text-muted" href="#">grip@tsf.com</a></li>
            <li><a class="text-muted" href="#">8975686477</a></li>
            <li><a class="text-muted" href="#">+1563489</a></li>

          </ul>
        </div>
        <div class="col-6 col-md">
          <h3 class="pb-2">Tech support</h3>
          <ul class="list-unstyled text-small text-light">
            <li><a class="text-muted" href="#">Installation Guide</a></li>
            <li><a class="text-muted" href="#">see Tutorials</a></li>
            <li><a class="text-muted" href="#">Activate</a></li>
            <li><a class="text-muted" href="#">Contact support</a></li>
          </ul>
        </div>
      </div>
      <div class="border-top">
        <h6 class="text-center mt-3">Copyright ©2023 All rights reserved
        </h6>
        </div>
    </footer>
  </div>
  </section>
  <div class="backtop">
    <a id="button" href="#top" class="btn btn-lg btn-warning" role="button">
     <i class="fas fa-chevron-up text-dark"></i>
    </a>
    </div>



  </body>
  </html>
