
  <section class="navbar1">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"><img src="/images/logo.jpeg" class="logo" height="100px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pl-4">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-dark" href="/about">About Us</a>

          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/contact">Contact US</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">

          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <a href="#" class="btn btn-outline-success my-2 my-sm-0">Search
         </a>
         </form>

    </nav>
  </section>
