<%- include("partials/header"); -%>
<body>
  <%- include("partials/navbar"); -%>
<div class="container-fluid ac">
    <div class="container pt-5 pb-5">
        <div class="row inner-text pl-5">
            <div class="col-md-6 text-dangers text-center"><br><br>
                <h3 class="wow slideInUp text-center"> Boosted Transaction service</h3>
                <h1 class="wow mt-4 slideInDown text-center">24/7 HOURS AVAILABLE</h1>
                <h1 class="wow mt-4 slideInDown text-center">GUARANTEED</h1>
                <a href="/transact" class="btn btn-danger my-2 my-sm-0 text-light">Transact Now
                </a>

            </div>

        </div>
    </div>
</div>
<div class="container-fluid cc">
    <div class="container pt-5 pb-5">
        <div class="row inner-text">
            <div class="col-md-8 text-dangers">

                <h1 class="wow mt-4 slideInDown">OUR MISSION</h1>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quaerat iusto sunt placeat! Voluptatem eius est ut earum provident molestiae, voluptatibus maiores beatae quidem dolores dolore facilis in, fugiat omnis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ratione distinctio illum reiciendis quam dolores, animi tenetur accusantium repellendus. Nesciunt labore quas voluptas ex voluptatum, harum aperiam laboriosam ratione quos, atque repellendus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas, commodi impedit tempore officia vitae, dignissimos quidem necessitatibus illo labore illum! Iure quis dolor labore necessitatibus repudiandae delectus, dolore esse dolores! Sapiente.</p>


            </div>

        </div>
    </div>
</div>
</div>

<%- include("partials/footer"); -%>
